.login__item {
  width: 100%;
  margin: 30px auto 0;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  background-color: black;
  font-size: 14px;
  line-height: 1.21;
  padding-bottom: 13px;
  color: #fff;
}
