.profile__add-button {
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 100%;
  max-width: 150px;
  height: 50px;
  background: url('../../../images/add-profile.svg') no-repeat center;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .5s ease-out;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    max-width: 282px;
    margin: auto;
  }
}
